<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © 2022 Fatih Gumus Design
            </div>
        </div>
    </div>
</footer>

<!-- jQuery  -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<script src="/js/app.js"></script>
