<%- include('partials/_header') %>

    </head>


    <body>

       <!-- Begin page -->
       <div class="accountbg"></div>
       <div class="wrapper-page">

           <div class="card">
               <div class="card-block">

                   <div class="ex-page-content text-center">
                       <h1 class="">500</h1>
                       <h3 class="">Internal Server Error</h3><br>

                       <a class="btn btn-danger mb-5 waves-effect waves-light" href="index.html">Back to Dashboard</a>
                   </div>

               </div>
           </div>
       </div>



        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/waves.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>

    </body>
</html>